# fly.toml app configuration file generated for rottenpotatoes on 2025-11-11T19:36:46-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'rottenpotatoes'
primary_region = 'iad'
console_command = '/rails/bin/rails console'

[build]

[http_service]
  internal_port = 8080
  auto_start_machines = true
  auto_stop_machines = "stop"
  min_machines_running = 0

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[deploy]
  release_command = "bash -lc 'cd /app && bundle _1.17.3_ exec rake db:migrate RAILS_ENV=production --trace'"
